.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: var(--bg-card);
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#modal-confirm {
    background-color: darkviolet;
    border-color: darkviolet;
}

#modal-cancel {
    background-color: var(--back);
    border-color: var(--back);
}
